<h1 id="main-header">Angular Reading List of Awesome!</h1>

<div class="row" ng-controller="ReadingListController as readingListCtrl" ng-init="index()">

  <button class="btn btn-default" ng-click="showForm = !showForm">{{showForm ? "Cancel" : "Create a Review"}}</button>
  <hr />
  <review-form change-review-form="readingListCtrl.changeReviewForm" books="readingListCtrl.books" genres="readingListCtrl.genres" ng-show="showForm"></review-form>
  <hr />

  <ul class="list-unstyled col-sm-8">
    <li class="book row" ng-repeat="book in books">
      <!-- Book Cover -->
      <book-cover></book-cover>
      <!-- End Book Cover -->
      <div class="col-sm-9">
        <h3><a href="http://www.amazon.com/gp/product/{{book.isbn}}"
            >{{book.title}}</a></h3>

        <cite class="text-muted">Written by {{book.author}}</cite>

        <p>{{book.review}}</p>

        <book-genres genres="book.genres"></book-genres>

        <br \>
        <div class="container">
          <button class="btn btn-primary book_buttons" ng-click="delete_book(book)">Remove Book</button>

          <button class="btn btn-primary book_buttons" ng-click="bookEditFormCtrl.showEditForm = !bookEditFormCtrl.showEditForm">{{bookEditFormCtrl.showEditForm ? "Cancel" : "Edit Review"}}</button>
        </div>

        <book-edit-form ng-show="bookEditFormCtrl.showEditForm"></book-edit-form>

    </li>
  </ul>
</div>
